@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

    .btn {
        @apply py-5 px-10 font-bold rounded-md text-dark flex items-center gap-x-2 
    }
    .btnDark{
        @apply bg-dark text-white  hover:bg-black
    }
    
}
.hero-swiper{
      max-width: 400px;
}
.hero-swiper .swiper-pagination{
    left: 0 !important;
    
}

.hero-swiper .swiper-pagination .swiper-pagination-bullet-active{
    background: #B5957C;
    height: 20px;
    border-radius: 4px;
}

.productsTable tbody tr td{
    padding-top: 8px !important;
    padding-bottom:8px  !important;
}


.productsTable tbody tr:nth-child(even) {
    background-color: #FDFCFB;

}